*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #EFF1ED !important;
}
/* Menu bar */
.container{
    max-width: 100%;
    margin: auto;
    margin-bottom: 40px;

}
.logo img{
    float: left;
    position: relative;
    margin-left: 50px;
    width: 100px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

nav {
    flex: 1;
    background: gray;
    padding: 10px 0;
    background: #FFD367;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    float: right;

}
nav ul li{
    display: inline-block;
    text-align: right;
    position: relative;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

a{
    text-decoration: none;
    color: black;
}


.navbar ul li a:hover{
    color: red;
}


.sub-menu{
    display: none;
    position: absolute;
    background: #FFD367;
}

.navbar ul li:hover .sub-menu{
    display: block;
    position: absolute;
}

.navbar ul li:hover .sub-menu ul {
    display: block;
    padding-top: 10px;

}
.navbar ul li:hover .sub-menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}


/* End of menu */

/* catagories */
.body{
    width: 100%;
}
.body1 img{
    display: block;
    width: 85%;
    top: 130px;
    margin-left: auto;
    margin-right: auto;
}

.catagory-main{
    width: 85%;
    margin: auto;
    margin-top: 60px;
}

.catagory-main img{
    width: 32%;
}
.catagory-main h1{
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    color: #555;
}

.row1{
    position: relative;
}

.row1 .fruit2{
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.row2 {
    margin-top: 20px;
}

.row2 .fruit2{
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.catagory-main a{
    color: white;
    font-family: 'Quicksand';
    font-size: 40px;
    width: 60px;
    background: green;
}

/* end of catagories */

/* feature products */
.features{
    width: 85%;
    margin: auto;
    margin-top: 60px;
}
.features h1{
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    color: #555;
}

.features  ul{
    display: block;
    list-style-type: none;
    text-align: center;
    margin: auto;
}
.features  ul li{
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.features a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.features ul li a:hover{
    color: #AFEC65;
    border-bottom: 2px solid #AFEC65;

}
.col-1{
    position: relative;
    padding: 0px;
    min-width: 25%;
    margin-bottom: 35px;
    border: 1px solid black;
}
.col-1 h4{
    padding: 7px 0;
}
.col-1 p{
    padding: 7px 0;
}
.col-1 img{
    min-width: 20%;
    margin: 0;
    position: flex;
    border: 1px solid #E4E7E2;
}
/* -----media----- */
@media only screen and (max-width: 600px){
  .row{
    text-align: center;
  }
  .col-2, .col-3, .col-4{
    flex-basis: 100%;
  }
  .single-product .row{
    text-align: left;
  }
  .single-product .col-2{
    padding: 20px 0;
  }
  .single-product h1{
    font-size: 26px;
    line-height: 32px;
  }
}

/* -----account-page begin----- */

.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.account-page{
  padding: 50px 0;
}
.form-container{
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  overflow: hidden;
}
.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn{
  display: inline-block;
}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
form input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus{
  outline: none;
}
#LoginForm{
  left: -300px;
}
#RegForm{
  left: 0;
}
form a{
  font-size: 12px;
}
#Indicator{
  width: 100px;
  border: none;
  background: #FFD367;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}
/* -----account-page end----- */
