body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
  width:100%;
}

/* Menu bar */
.container{
    max-width: 100%;
    margin: auto;
    margin-bottom: 40px;

}
.logo img{
    float: left;
    position: relative;
    margin-left: 50px;
    width: 100px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

nav {
    flex: 1;
    background: gray;
    padding: 10px 0;
    background: #FFD367;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    float: right;

}
nav ul li{
    display: inline-block;
    text-align: right;
    position: relative;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.navbar ul li a:hover{
    color: red;
}

.sub-menu{
    display: none;
    position: absolute;
    background: #FFD367;
}

.navbar ul li:hover .sub-menu{
    display: block;
    position: absolute;
}

.navbar ul li:hover .sub-menu ul {
    display: block;
    padding-top: 10px;

}
.navbar ul li:hover .sub-menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    text-align: left;
}


/* End of menu */
h2 {
  text-align: left;
  margin-left: 40px;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}


.col-50 {
  -ms-flex: 50%;
  flex: 50%;
  padding: 0 51.5px;
}


.container {
  background-color: #cfcccc85;
  padding: 3px 20px 13px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }

  .col-25 {
    margin-bottom: 20px;
  }
}
